.action-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

label {
  color: #444444;
  font-size: 1.4rem;
}

.invalid-feedback {
  p {
    font-size: 1rem;
    padding-top: 5px;
  }
}

.form-control {
  font-size: 1.3rem;
}

.input-group {
  input {
    border: 1px solid #cccccc;
    font-size: 1.3rem;
    height: 40px;
    padding: 0 5px;
    width: 90%;
  }

  > div {
    border: 1px solid #cccccc;
    width: 10%;
  }

  .button {
    width: 100%;
  }
}

.spinner-border-sm {
  height: 2rem !important;
  width: 2rem !important;
}
