<section class="wrapper landing">
  <div class="row action-buttons">
    <ng-container *ngIf="showCards">
      <div class="box total-count">Total tiny url: {{ cards.length }}</div>
      <div class="box search-container">
        <div class="input-group">
          <input name=" " type="text" class="form-control" placeholder="Search by title" [(ngModel)]="searchText" />
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="ico-search"></span>
            </button>
          </div>
        </div>
      </div>
      <button (click)="createTinyURL()" type="button" class="box btn-box">Create new tiny URL</button>
    </ng-container>
    <ng-container *ngIf="!showCards">
      <button (click)="showCardsPage()" type="button" class="box btn-box">Go Back</button>
    </ng-container>
  </div>

  <div *ngIf="showCards && cardsLoaded && !zeroCards" class="row">
    <div class="row w-100 d-flex flex-row-reverse">
      <pagination-controls class="my-pagination" responsive="true" (pageChange)="currentPage = $event"> </pagination-controls>
    </div>

    <div class="w-100">
      <div class="url-lists">
        <ng-container *ngFor="let card of cards | paginate: { itemsPerPage: 12, currentPage: currentPage } | appFilter: searchText">
          <ng-container *ngIf="card != -1; else noCardExist">
            <create-cards [urlInfo]="card" [isGroup]="false"></create-cards>
          </ng-container>
          <ng-template #noCardExist>
            <div class="w-50 h-300 d-flex justify-content-center align-items-center border mx-auto">
              <h2>No such card exist</h2>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="showCards && cardsLoaded && zeroCards" class="row">
    <app-zero-page [message]="zeroCardMessage"></app-zero-page>
  </div>

  <div *ngIf="!showCards">
    <app-card-generator (backToList)="showCardsPage()"></app-card-generator>
  </div>

  <ngx-spinner bdColor="rgba(49,49,50,0.33)" size="medium" color="#ffffff" type="square-jelly-box" [fullScreen]="true"
    ><p style="color: white">Loading...</p></ngx-spinner
  >
</section>
